In [105]:
import requests
import shutil
from pathlib import Path
import pandas as pd
from neo4j import GraphDatabase
import openai
from getpass import getpass
import re
import time
import random
import backoff

# Set up connections

In [2]:
openai_key = getpass()

 ········

In [66]:
neo4j_pwd = getpass()

 ········

In [3]:
openai.api_key = openai_key

In [67]:
bolt_uri = "neo4j+s://0932859c.databases.neo4j.io"
driver = GraphDatabase.driver(bolt_uri, auth=("neo4j", neo4j_pwd))

# Download data from UCI archive

In [4]:
response = requests.get("https://archive.ics.uci.edu/static/public/450/sports+articles+for+objectivity+analysis.zip", stream=True)
with open("sports_articles.zip",'wb') as output:
    output.write(response.content)

In [5]:
shutil.unpack_archive("sports_articles.zip", "sports_articles")

In [6]:
p = Path('./sports_articles/Raw data')

In [7]:
articles = []
for d in p.iterdir():
    file_name = d.name
    try:
        with open(d, "rb") as f:
            text = f.read().decode("utf-8")
    except:
        with open(d, "rb") as f:
            text = f.read().decode("Windows-1252")
    articles.append({"article": file_name, "text": text})

In [8]:
articles_df = pd.DataFrame(articles)

In [9]:
articles_df.shape

(1000, 2)

# Pick out a few examples for few shot learning
I chose example with index 616 because it was short.

In [10]:
examples_df = articles_df.iloc[:2,:]

In [11]:
examples_df = examples_df._append(articles_df.loc[616])

In [12]:
articles_df.drop([0, 1, 616], inplace=True)

In [13]:
examples_df['entities'] = ""

In [14]:
print(examples_df.loc[0, "text"])

With a world title and an Olympic silver medal of their own already, Meryl Davis and Charlie White were quite happy to share this latest accomplishment.

   	Davis and White won their fifth consecutive ice dance crown at the US Figure Skating Championships on Saturday, matching a record held by four other couples. As the audience stood and cheered, Davis knelt close to the ice for several seconds, her head bowed.
  	''Being in such an elite group of American ice dancers from the past and seeing that we belong with them, it's special,'' White said. ''All the hard work and our families and their dedication, our support group — you need a lot of things to come together to make that happen, including staying healthy. There are a lot of little things. I'm proud of us for being able to stick with it, and our continuing love for the sport has helped a lot.
  	''I'm pleased and I couldn't be more proud.''
  	Judy Schwomeyer and James Sladky (1968-72); Judy Blumberg and Michael Seibert (1981-85); Naomi Lang and Peter Tchernyshev (1999-2003); and Tanith Belbin and Ben Agosto (2004-2008) also won five titles.
  	The Olympic silver medalists and 2011 world champions had had such a big lead after the short dance they had to do little more but step on the ice to win. But they did so much more than that with their dramatic and powerful routine to ''Notre Dame de Paris,'' setting personal bests for both overall score (197.44 points) and free dance (118.42).
  	They finished more than 20 points ahead — yes, you read that right — of Madison Chock and Evan Bates (175.91). Maia and Alex Shibutani were docked a point for an extended lift and finished third (174.21).
  	Earlier Saturday, Marissa Castelli and Simon Shnapir overcame a big mistake to win their first pairs title.
  	''Coming to the US Championships is a good time and there's always a positive energy,'' Davis said. ''It's such an honor to come here. I think being able to perform really well pushes us to put out a better performance, and we are honored to get the results that we did.''
  	For generations, Americans weren't even an afterthought in ice dance. They were so far below the world powerhouses it's a good bet the Russians and British didn't even know their names.

   	But that has changed in the last 10 years, and Davis and White now set the standard in the sport. Their rivalry with Canada's Tessa Virtue and Scott Moir is the best thing going, with the training partners playing a game of ''Can you top this?'' Virtue and Moir edged the Americans at the Vancouver Olympics, as well as at the 2010 and 2012 world championships. The Americans won the world title in 2011, as well as the last four Grand Prix finals.
  	Though they have no peers in the United States, that doesn't mean they coast when they come to nationals.
  	Far from it.
  	''That energy only pushes us and makes us feel even more excited,'' Davis said.
  	Their performance was spellbinding, so intense no one in the arena dared breathe. Every inch of the ice, every nuance of music was filled with intricate and elegant moves, one more difficult than the next. Their skating skills have always been superb, their edge quality so fine that coaches pop in DVDs of them to show their students.
  	But it is the way they combine the athletic strengths with the beauty and elegance of a dance that makes them so breathtaking. They are a sporting event and a theater show rolled into one. Their lifts can barely be described they were so intricate and innovative. In one, White twirled Davis like a rifle and whipped her from his front to back all while skating and turning at full speed.

   	They oozed emotion, using the tips of their eyelashes all the way down to the toes of their feet to express the character of the dance, and the audience was as exhausted as Davis and White when they finished.
  	Chock and Bates and the Shibutanis have the misfortune of trying to compete with that, and there was no way they could come close. At least, not now.
  	Chock and Bates' lifts are filled with unique positions, and they were done with great speed and control. But it was the love story they displayed to ''Dr. Zhivago'' that was so delightful. Close your eyes, and you could almost see the horses and the sleigh in the falling snow.
  	''It's been such a great season,'' Chock said. ''We have been working very hard, and we hope to keep getting better and better from here.''
  	The Shibutanis' routine to ''Memoirs of a Geisha'' was seamless, the elements flowing from one to the other so perfectly it was impossible to tell where one ended and the next began. The siblings opened with a pairs spin that was better than anything seen during the actual pairs competition earlier in the afternoon, and it lasted for what seemed like forever - no easy feat to maintain that speed and momentum.
  	Their twizzles — traveling spins — are, simply, exquisite. They are done in perfect unison, right down to the raising of their arms while they spin. Their big flaw was that he held his sister too long on a lift, a mistake they also made in the short dance.

Create examples of the types of entities we want the model to find.

In [15]:
examples_df.loc[0, "entities"] = "Sports:Ice dancing\nTeams:\nAthletes:Meryl Davis, Charlie, White, Judy Schwomeyer, James Sladky, Judy Blumberg, Michael Seibering, Namomi Lang, Peter Tchernyshev, Tanith Belbin, Ben Agosto, Madison Chock, Evan Bates, Maia Shibutani, Alex Shibutani, Marissa Castelli, Simon Shnapir, Tessa Virtue, Scott Moir\nSporting events:US Figure Skating Championships, Vancourver Olympics, 2010 World Figure Skating Championships, 2012 World Figure Skating Championships, 2011 World Figure Skating Championships, Figure Skating Grand Prix"

In [16]:
print(examples_df.loc[1, "text"])

The Croatia striker took advantage of a mistake from Christian Molinaro to put Bayern ahead in the 50th minute, intercepting the defender's back pass before rounding the goalkeeper.
  	The visitors put the game beyond doubt in the 72nd when Mandzukic crossed for Thomas Mueller to finish off a counterattack in the 72nd. Mueller earlier had a goal ruled out for offside.

  	Bayern's 15th win from 19 games leaves it 11 points clear of Bayer Leverkusen, which was held to a 0-0 draw at Freiburg on Saturday. Defending champion Borussia Dortmund is third, a point further back.

In [17]:
examples_df.loc[1, "entities"] = "Sports:Soccer\nTeams:Bayern, Bayer Leverkusen, Frieburg, Borussia Dortmund\nAthletes:Christian Molinaro, Mario Mandzukic, Thomas Mueller\nSporting events:"

In [18]:
print(examples_df.loc[616, "text"])

Nico Rosberg led the way at the end of the first day of the second Formula One four-day test at the Circuit de Catalunya in Barcelona. The Mercedes driver posted a lap time of one minute 22.616 seconds, just 0.9 seconds slower than the pole time set by Lewis Hamilton in last year's Grand Prix.


Lotus' Kimi Raikkonen finished just 0.007sec adrift, with Ferrari's Fernando Alonso a further third of a second behind.

In [19]:
examples_df.loc[616, "entities"] = "Sports:Formula One\nTeams:Mercedes, Lotus, Ferrari\nAthletes: Nico Rosberg, Lewis Hamilton, Kimi Raikkonen, Fernando Alonso\nSporting events:Circuit de Catalunya in Barcelona, Grand Prix"

# See how long our articles are
We might not have enough tokens to pass the examples and long articles, so we'll break up the long ones.

In [20]:
articles_df['len'] = articles_df['text'].str.len()

In [21]:
articles_df.describe()

                len
count    997.000000
mean    3972.991976
std     2741.899479
min      224.000000
25%     1860.000000
50%     3671.000000
75%     5270.000000
max    22373.000000

# Send articles to openai to get entities.

In [ ]:
result = response.json()
if ‘choices’ in result:
address = result[‘choices’][0][‘message’][‘content’]
return address
else:
retries += 1
print(f"Request failed. Retrying ({retries}/{max_retries})…")
time.sleep(2 ** retries) # Exponential backoff delay

In [126]:
ents_pattern = re.compile("Sports\:(.*)\nTeams\:(.*)\nAthletes\:(.*)\nSporting events\:(.*)", re.DOTALL)

@backoff.on_exception(backoff.expo, 
                      (openai.error.RateLimitError, 
                       openai.error.ServiceUnavailableError,
                       openai.error.APIError),
                     raise_on_giveup=False)
def get_entities(article):
    article_segments = [article[k:k+6000] for k in range(0, len(article), 6000)]
    sports, teams, athletes, events = [], [], [], []
    for segment in article_segments:
        messages = [
            {"role": "system", "content": "You extract entities in the following format:\nSports:<comma delimited list of strings>\nTeams:<comma delimited list of strings>\nAthletes:<comma delimited list of strings>\nSporting events:<comma delimited list of strings>"},
            {"role": "user", "content": examples_df.iloc[0, 1]},
            {"role": "assistant", "content": examples_df.iloc[0,2]},
            {"role": "user", "content": examples_df.iloc[1, 1]},
            {"role": "assistant", "content": examples_df.iloc[1,2]},
            {"role": "user", "content": examples_df.iloc[2,1]},
            {"role": "assistant", "content": examples_df.iloc[2,2]},
            {"role": "user", "content": segment}]
        retries = 0
        response = openai.ChatCompletion.create(
            model="gpt-3.5-turbo",
            messages=messages
            )
        result_match = ents_pattern.match(response['choices'][0]['message']['content'])
        if result_match:
            sports = sports + result_match.group(1).split(", ")
            teams = teams + result_match.group(2).split(", ")
            athletes = athletes + result_match.group(3).split(", ")
            events = events + result_match.group(4).split(", ")
        else:
            print(f"Result didn't match regex. {response}")
    entities = pd.Series({"sports": sports, "teams": teams, "athletes": athletes, "events": events})
    return entities

We ran into some time outs, so I did this in a few batches

In [128]:
entities_df = pd.DataFrame(columns=["sports", "teams", "athletes", "events"])

for idx, row in articles_df.iterrows():
    entities = get_entities(row['text'])
    entities.name = idx
    entities_df = entities_df._append(entities)
    if entities_df.shape[0] % 25 == 0:
        print(f"Processed {entities_df.shape[0]} articles.")

Processed 25 articles.
Processed 50 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TUyjOXtI6SsvULEPC3znSYLaBdDo",
  "object": "chat.completion",
  "created": 1687264949,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3126,
    "completion_tokens": 469,
    "total_tokens": 3595
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "valuating the game\u2026): \"Just like any other loss, it's painful. You put a lot into it. It's not the fact that it was a loss that's more difficult it's just the way we lost. Some defensive breakdowns and some big shots by Knight and Bynum. And it wasn't just that last play... It got to that point where it came down to a possession here or there. We weren't able to make the big play tonight.\n   (On the team's effort\u2026): \"The guys again had a great spirit about us, fought. We didn't shoot the ball the way that we're accustomed to, other than JJ of course. But we fought. We changed the game in the second half, got to the free throw line.\n   (On if it is the fault of the defense that the other guys cannot get going from the start..): \"Guys work hard to get shots, to get open looks and they missed. The looks that we did get, we missed. We were 9-for-20 at the rim in the first half, so there were opportunities without just relying on JJ. But he was hot and they kept feeding him.\"\n   (On the play of Jameer Nelson\u2026): \"I thought he did an excellent job tonight of getting us into our stuff and being aggressive when he had the chance to be aggressive. And besides scoring the ball, I thought he did an excellent job of getting us into our offenses.\" \n   Magic Guard JJ Redick \n   \u201cIt\u2019s frustrating that we allow this to happen over and over again, but we will continue to kill ourselves with mental mistakes.\"   \n   \u201cWe had chances to really put them away with six minutes and then again with four minutes. We had six or seven possessions to go up 10-12 points with four minutes left, and we just kept settling for jump shots or making mental mistakes. We have to get out of our own way at some point. We need to start winning or we will be out of the picture.\u201d \n   (On his career-high 31 points...) \u201cIt was just one of those nights where I got into a rhythm and knocked down some 3s early,\u201d Redick said. \u201cIt\u2019s just a shame because it\u2019s wasted in a loss.\u201d"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 75 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TV0xi1OSlsqycuZZ5Xtd6izJUa10",
  "object": "chat.completion",
  "created": 1687265087,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1725,
    "completion_tokens": 30,
    "total_tokens": 1755
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "I'm sorry but there is no report mentioned to provide any answer to. Can you please provide more context or information so I can assist you better?"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 100 articles.
Processed 125 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TV3MXx2U57zHCaGMWolchvj2msCj",
  "object": "chat.completion",
  "created": 1687265236,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3063,
    "completion_tokens": 135,
    "total_tokens": 3198
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "even bolder), but it is a statement that is not without merit. Iniesta's ability to control games with such ease and to step up in big moments is unparalleled. While it is true that Zidane played with some great players, he also had a fairly volatile personality that led to numerous red cards. Iniesta, on the other hand, is a model of consistency and professionalism both on and off the field. It is also worth noting that Iniesta has been just as instrumental in Spain's international success as he has been for Barcelona's domestic and European domination. All in all, it is certainly not a stretch to argue that Iniesta is the better player."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 150 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TV5PKerGMOZM5Gvakm3G739zBLrP",
  "object": "chat.completion",
  "created": 1687265363,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1739,
    "completion_tokens": 23,
    "total_tokens": 1762
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "There is not enough context to definitively extract entities from this sentence. Can you please provide additional context or information?"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 175 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TV5r0wLjpxjgTXnyaP2jXQfXyo4p",
  "object": "chat.completion",
  "created": 1687265391,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3003,
    "completion_tokens": 185,
    "total_tokens": 3188
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "hat he has to make the most of every opportunity and never take his success for granted.\r\n\r\n\u201cI\u2019ve been fortunate to play 13 years and to be in it for 12 years,\u201d Brady said. \u201cI love it more now than I ever have, and I am always trying to get better and always trying to find ways to improve myself and my game. It\u2019s just something I take a lot of pride in, my commitment to the team. I\u2019ll do whatever it takes to try to help us win.\u201d\r\n\r\nAt this point in his career, Brady has nothing left to prove. He is a three-time Super Bowl champion, two-time NFL MVP, and the holder of numerous passing records. But he still approaches every game with the same intensity and drive as if it were his first. And for that, he has earned the respect of fans and players alike, even those who can't stand the sight of him."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 200 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TV7obbAFP2pecfvVpjQ8lNWU5tTa",
  "object": "chat.completion",
  "created": 1687265512,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1767,
    "completion_tokens": 4,
    "total_tokens": 1771
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "Sports: Not specified"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 225 articles.
Processed 250 articles.
Processed 275 articles.
Processed 300 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVDwIPojneLHosOb03Wjx9m7iL08",
  "object": "chat.completion",
  "created": 1687265892,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1725,
    "completion_tokens": 26,
    "total_tokens": 1751
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "There is no specific piece of information given in your last message. Can you provide more details or ask a question related to sports?"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 325 articles.
Processed 350 articles.
Processed 375 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVIwzNwNcSxRbX3qckMduUElQK5y",
  "object": "chat.completion",
  "created": 1687266202,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1742,
    "completion_tokens": 26,
    "total_tokens": 1768
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "I am sorry, I cannot extract entities from this text as it is incomplete and lacks context. Please provide more information or context."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 400 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVKChqM9piYW4Ki67QTMswyx6oOT",
  "object": "chat.completion",
  "created": 1687266280,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 2114,
    "completion_tokens": 113,
    "total_tokens": 2227
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "Sports: Football \nTeams: Houston Texans, Cincinnati Bengals, Green Bay Packers, Minnesota Vikings, Baltimore Ravens, Indianapolis Colts, Seattle Seahawks, Washington Redskins, Denver Broncos, San Francisco 49ers, Atlanta Falcons, New England Patriots\nSporting events: Super Bowl XLVII \nSeedings: No. 1-4 seeds are division winners and No. 5-6 seeds are wild card berths. 'x' denotes the team that has clinched division and home-field advantage whereas 'y' denotes the team that has clinched division title."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Result didn't match regex. {
  "id": "chatcmpl-7TVKu8Kk6EaGjBsUhy0bkOnjctyVV",
  "object": "chat.completion",
  "created": 1687266324,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 2992,
    "completion_tokens": 138,
    "total_tokens": 3130
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "id off handsomely for Irvine, who became the talk of the 2013 World Championships after winning two medals, including a gold in the 15km scratch race. He had earlier won a silver medal in the individual pursuit, becoming the first Irishman to win a world track championships medal since Harry Reynolds in 1897. Despite the lack of resources and facilities in Ireland, Irvine and his team managed to make the most of their opportunities and training in Majorca, where they have access to a world championship track. Irvine had contemplated pulling out of the scratch race but went on to win in spectacular fashion, defying the odds and securing a place in history with his impressive performance."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 425 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVM7cbKhIWjXA2rX4Qy4V17aKaFf",
  "object": "chat.completion",
  "created": 1687266399,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1726,
    "completion_tokens": 35,
    "total_tokens": 1761
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "I'm sorry, I cannot provide you with an appropriate answer without any context or information on what you are referring to. Could you please provide more details or clarify your question?"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 450 articles.
Processed 475 articles.
Processed 500 articles.
Processed 525 articles.
Processed 550 articles.
Processed 575 articles.
Processed 600 articles.
Processed 625 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVglG0MCvlJnute4DFVoHxuYiVSv",
  "object": "chat.completion",
  "created": 1687267679,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3053,
    "completion_tokens": 33,
    "total_tokens": 3086
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "Sports:Basketball\nTeams:Miami Heat, Los Angeles Lakers\nAthletes:LeBron James, Kobe Bryant, Kevin Durant\nSporting Events:NBA Finals"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Result didn't match regex. {
  "id": "chatcmpl-7TVh1yA076MNwbLTNHkIegXONqCKr",
  "object": "chat.completion",
  "created": 1687267695,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3107,
    "completion_tokens": 142,
    "total_tokens": 3249
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "was done with everything,\u201d he said. \u201cI couldn\u2019t deal with the lie anymore, couldn\u2019t go on with the guilt, the fear and the shame of it all. I was done.\u201d\r\n\r\nHe woke up not in a hospital or in the emergency room, but in a dark hotel room. Disoriented, he realized he was still alive. The bravery he showed by revealing his secret to his coach later that day, and the years of treatment and rehabilitation that followed, have now become a beacon of hope for others in the same position.\r\n\r\nSteven Holcomb\u2019s memoir is a brave and honest account of his journey back from the brink. Hopefully, it can inspire others to speak up and seek professional help."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 650 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVjUl75fSZe4SZHn6H5YyzSGGp2S",
  "object": "chat.completion",
  "created": 1687267848,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3053,
    "completion_tokens": 234,
    "total_tokens": 3287
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "ert has a tremendous catch radius and great hands, plus he blocks down field well. He\u2019ll be the first or second tight end off of the board and could challenge the single-season reception record for his position in the NFL.\n  \tZach Ertz exploded as a junior for Stanford in 2012, snagging 69 balls for 898 yards and six touchdowns. He came up big in the Cardinal\u2019s upsets over USC and Oregon State. Ertz will excel as a red zone target at the next level.\n  \tNotre Dame\u2019s Tyler Eifert and Stanford\u2019s Zach Ertz made the work of aspiring NFL scouts very easy with their performances in the BCS Championship game. Eifert had six catches for 61 yards in Notre Dame\u2019s 42-14 loss to Alabama. Ertz had four catches for 38 yards.\n  \tThe next few weeks will be very interesting as NFL prospect begin to prepare for the NFL combine, individual team tryouts, and private workouts. When Eifert and Ertz were taken in the NFL Draft we will be better able to forecast their roles on their respective NFL teams."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 675 articles.
Processed 700 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVlucKoHlRZNRmvwLX5jBVeKckmQ",
  "object": "chat.completion",
  "created": 1687267998,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1750,
    "completion_tokens": 34,
    "total_tokens": 1784
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "I'm sorry, but without any context or information, I'm unable to determine the sport or event we are referring to. Could you please provide more information or context?"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Result didn't match regex. {
  "id": "chatcmpl-7TVmagdA2gAxw3lPPEpV5j48T4SY4",
  "object": "chat.completion",
  "created": 1687268040,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3153,
    "completion_tokens": 165,
    "total_tokens": 3318
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "y Rodgers and Laudrup too,\r\nplaying great football, it's what they do.\r\nMichu, Dyer and Pablo too,\r\nthey'll make the Bradford fans feel blue. \r\n\r\nWe're the Swans and we're from Wales,\r\nWe want the cup and lots of ales.\r\nBritton, Graham and Sung-Yeung Ki\r\non our way to Wemb-er-ley. \r\n\r\nSo come on Swansea, one more game,\r\nwe're all behind you, fame and fame.\r\nBring back the Cup to Swansea town,\r\nwe'll party hard and dance around.\r\n\r\nWe're the Swans and we're from Wales,\r\nWe want the cup and lots of ales.\r\nBritton, Graham and Sung-Yeung Ki\r\non our way to Wemb-er-ley. \r\n\r\nDafydd, Swansea"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 725 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVnV7BB3bxQqaXNlqY12oSOyvYCp",
  "object": "chat.completion",
  "created": 1687268097,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3019,
    "completion_tokens": 116,
    "total_tokens": 3135
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "ll be looking to him as a symbol of hope and perseverance during these difficult times. His message on the t-shirt was a small gesture, but it was a reminder of the bigger picture and the potential power of football to bring people together. Keita's example shows that footballers can be more than just self-obsessed athletes, they can be agents of change and ambassadors for their communities. As fans, we should demand more from our players and expect them to utilise their platforms for the greater good. Football can be a game, but it can also be so much more."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 750 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVpV4T7MRCIwYgmmis8SG2GAwByD",
  "object": "chat.completion",
  "created": 1687268221,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3166,
    "completion_tokens": 114,
    "total_tokens": 3280
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "kron, but his name means he still has a following among fans of both the college and pro game. He's constantly asked to sign pictures of The Dunk, and he'll do it, but he usually won't accept money for it. \r\n\r\nJerome is concerned with giving back to the kids of Akron, where he still lives. The dunk might have given him immortality, but it's Akron that gave him a sense of community. \r\n\r\n\"I could have gone anywhere, but this was my home,\" he said. \"It's where I wanted to stay.\""
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Result didn't match regex. {
  "id": "chatcmpl-7TVqHm8kx1GXLmXae9K2Hg0yE0H6W",
  "object": "chat.completion",
  "created": 1687268269,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 1933,
    "completion_tokens": 25,
    "total_tokens": 1958
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "Sport:Baseball\nTeam:Tampa Bay Rays\nAthlete:Kyle Farnsworth\nSporting events:None mentioned"
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Processed 775 articles.
Processed 800 articles.
Processed 825 articles.
Result didn't match regex. {
  "id": "chatcmpl-7TVvV0uUkOf8nRrZldnAP2i7zVKhA",
  "object": "chat.completion",
  "created": 1687268593,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 3009,
    "completion_tokens": 193,
    "total_tokens": 3202
  },
  "choices": [
    {
      "message": {
        "role": "assistant",
        "content": "ased on a culture of developing and nurturing young players through a progressive philosophy.\"\r\n\r\nIt remains to be seen whether this philosophy will bring success to Southampton in the long run. It's certainly a risky move by Cortese to dismiss a popular and successful manager in Adkins, and he will be under pressure to deliver results with Pochettino at the helm. But it's also true that the 'Southampton way' has been a long-term project, and perhaps Cortese felt that Adkins wasn't the man to take the club to the next level. In football, as in any other industry, decisions have to be made based on the long-term goals and strategies of the organization, even if they are painful in the short term. Whether Pochettino is the right man for Southampton remains to be seen, but it's clear that Cortese believes he is, and he will be given the time and resources to implement his own vision for the team."
      },
      "finish_reason": "stop",
      "index": 0
    }
  ]
}
Result didn't match regex. {
  "id": "chatcmpl-7TVvlvXXDYkY2tl56MTGo4zkGAAd1",
  "object": "chat.completion",
  "created": 1687268609,
  "model": "gpt-3.5-turbo-0301",
  "usage": {
    "prompt_tokens": 2838,
    "completion_tokens": 67,
    "total_tokens": 2905
  },
  "choices": [
    {
      "message": {
        "role": "assistant",

# Send the entities to Neo4j

In [129]:
output_df = articles_df.merge(entities_df, how="inner", left_index=True, right_index=True)

In [130]:
def send_row_to_neo4j(row):
    with driver.session() as session:
        session.run("""MERGE (a:Article {source: $article})
                       ON CREATE SET a.text = $text""", 
                    {"article": row["article"],
                     "text": row["text"]})
        session.run("""MATCH (a:Article {source: $article})
                       UNWIND $sports as sport
                       MERGE (s:Sport {name: toUpper(trim(sport))})
                       MERGE (a)-[:REFERENCES_SPORT]->(s)""",
                    {"article": row["article"],
                     "sports": row["sports"]})
        session.run("""MATCH (a:Article {source: $article})
                       UNWIND $athletes as athlete
                       MERGE (t:Athlete {name: toUpper(trim(athlete))})
                       MERGE (a)-[:REFERENCES_ATHLETE]->(t)""",
                    {"article": row["article"],
                     "athletes": row["athletes"]})
        session.run("""MATCH (a:Article {source: $article})
                       UNWIND $events as event
                       MERGE (e:Event {name: toUpper(trim(event))})
                       MERGE (a)-[:REFERENCES_EVENT]->(e)""",
                    {"article": row["article"],
                     "events": row["events"]})

In [131]:
_ = output_df.apply(send_row_to_neo4j, axis=1)

Failed to write data to connection ResolvedIPv4Address(('34.69.128.95', 7687)) (ResolvedIPv4Address(('34.69.128.95', 7687)))
Failed to write data to connection IPv4Address(('0932859c.databases.neo4j.io', 7687)) (ResolvedIPv4Address(('34.69.128.95', 7687)))

# Look at results

How many nodes of each type were generated?

In [132]:
with driver.session() as session:
    result = session.run("""MATCH (n) RETURN labels(n) as labels, count(*) as nodeCount""")
    result_df = pd.DataFrame([row.data() for row in result])
result_df

      labels  nodeCount
0    [Sport]        144
1  [Athlete]       4003
2    [Event]       1697
3  [Article]        997

Which sports were most commonly identified?

In [133]:
with driver.session() as session:
    result = session.run("""MATCH (s:Sport) 
                            RETURN s.name as sport, 
                            COUNT{ (s)<-[:REFERENCES_SPORT]-() } AS articleCount
                            ORDER BY articleCount DESC
                            LIMIT 10""")
    result_df = pd.DataFrame([row.data() for row in result])
result_df

            sport  articleCount
0      BASKETBALL           265
1          SOCCER           219
2        FOOTBALL           116
3          TENNIS            57
4        BASEBALL            46
5             NFL            41
6            GOLF            34
7  FOOTBALL (NFL)            30
8             NBA            27
9          HOCKEY            25

Looks like there could be some overlap among some of those sports, like "FOOTBALL" and "FOOTBALL NFL)". Which sports are associated with the same article most often?

In [136]:
with driver.session() as session:
    result = session.run("""MATCH (s1:Sport)<-[:REFERENCES_SPORT]-()-[:REFERENCES_SPORT]->(s2)
                            WHERE s1.name < s2.name
                            RETURN s1.name AS sport1, s2.name AS sport2, count(*) as articleCount
                            ORDER BY articleCount DESC
                            LIMIT 10""")
    result_df = pd.DataFrame([row.data() for row in result])
result_df

             sport1               sport2  articleCount
0          FOOTBALL                  NFL            18
1        BASKETBALL                  NBA            14
2          FOOTBALL       FOOTBALL (NFL)            11
3          FOOTBALL  FOOTBALL (AMERICAN)             8
4        BASKETBALL             FOOTBALL             8
5    FOOTBALL (NFL)                  NFL             7
6        BASKETBALL                 WNBA             5
7  COLLEGE FOOTBALL             FOOTBALL             4
8        BASKETBALL      TRACK AND FIELD             4
9          FOOTBALL         NFL FOOTBALL             4

Which athletes are mentioned most often?

In [134]:
with driver.session() as session:
    result = session.run("""MATCH (a:Athlete) 
                            RETURN a.name as athlete, 
                            COUNT{ (a)<-[:REFERENCES_ATHLETE]-() } AS articleCount
                            ORDER BY articleCount DESC
                            LIMIT 10""")
    result_df = pd.DataFrame([row.data() for row in result])
result_df

           athlete  articleCount
0      KOBE BRYANT            57
1                             45
2     LEBRON JAMES            38
3      GREG MONROE            27
4      TIGER WOODS            26
5    DWIGHT HOWARD            25
6  CARMELO ANTHONY            24
7       CHRIS PAUL            24
8       STEVE NASH            22
9      DWYANE WADE            21

Which athletes appear in the same article with Kobe Bryant most often?

In [135]:
with driver.session() as session:
    result = session.run("""MATCH (a:Athlete {name:"KOBE BRYANT"})-[:REFERENCES_ATHLETE]-(art)
                            MATCH (art)-[:REFERENCES_ATHLETE]->(n)
                            WHERE n <> a
                            RETURN n.name AS mentionedWithKobe, count(*) as articleCount
                            ORDER BY articleCount DESC
                            LIMIT 10""")
    result_df = pd.DataFrame([row.data() for row in result])
result_df

  mentionedWithKobe  articleCount
0     DWIGHT HOWARD            23
1      LEBRON JAMES            23
2         PAU GASOL            20
3        STEVE NASH            19
4   CARMELO ANTHONY            14
5      KEVIN DURANT            12
6       DWYANE WADE            11
7        CHRIS PAUL            11
8  SHAQUILLE O'NEAL             9
9     BLAKE GRIFFIN             9